<script>
    function OnTreeViewNodeClick(s, e) {        
     //   angular.element(document.getElementById('content')).scope().Secim(e.node.name);//   $("#cmbNodes").val(e.node.name);
        $.ajax({
            url: "/Education/getContentDocumant",
            type: 'POST',
            data: { DocumentCode: e.node.name },
            datatype: 'json',
            success: function (data) {
                var $scope = angular.element(document.getElementById('content')).scope();
                $scope.$apply(function () {
                    $scope.icerik = (data);
                    $scope.documenCode = e.node.name;
                });
            },
            error: function (data) {
                alert("Server Hatası" + data.toString());
            }
        });        
    }
</script>
<div class="leftPanel">   
    @Html.DevExpress().TreeView(
    settings =>
    {
        settings.Name = "treeList";

        settings.CallbackRouteValues = new { Controller = "Education", Action = "TreeListPartial" };
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.AllowSelectNode = true;
       //    settings.AllowCheckNodes = true;


        settings.ClientSideEvents.NodeClick = "OnTreeViewNodeClick";
        settings.ClientSideEvents.ExpandedChanged = "OnTreeViewNodeClick";
        //    settings.ClientSideEvents.CheckedChanged = "OnTreeViewNodeClick";
        iys.Controllers.QuestionsController.CreateTreeViewNodesRecursive(Model, settings.Nodes, "0");
        settings.PreRender = (sender, e) =>
        {
            ASPxTreeView treeView = (ASPxTreeView)sender;
            treeView.ExpandAll();
            //if (Session["TreeListState"] == null)
            //    ((MVCxTreeList)sender).ExpandToLevel(2);
        };
    }
).GetHtml()


</div>