@using System.Web.UI.WebControls 
@using System.Drawing
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script>
    var content = angular.module('content', []);
    content.controller('c_content',['$scope', function ($scope) {      
    }]);
</script>
<div style="margin-left:2%">

    <h2 class="title">Course Title >> Lesson Title</h2> 
  
    <div ng-app="content">
        <div id="content" ng-controller="c_content">           
            <div ng-bind-html-unsafe="icerik"></div>
        </div>
    </div> 
  
</div>