@model iys.Controllers.succesVievModel
<style>
    .title {
        font-size: 30px;
        color: #555555;
        font-weight: bold;
        margin: 20px 0;
    }

    .count {
        color: #007fc0;
        font-weight: bold;
        font-size: 50px;
    }

    .sub-title, .text {
        font-size: 14px;
        color: #808080;
    }

    .text {
    }

    .sub-title {
        font-weight: 400;
    }

    a {
    }

        a:hover {
            text-decoration: none;
        }

    .sol {
        float: left;
        line-height: 50px;
    }
</style>
<div>
    <div class="title">@Model.name</div>
    <div class="count sol">%@Model.puan</div>
    <div style="margin-left:20px;">
        <a href="../Education/Index">
            <img src="~/images/play-btn.png" />
        </a>
    </div>
</div>
