.dxisControl .dxis-imageArea
{
    border: 1px solid #bfbfbf;
    -moz-box-shadow: 0 0 3.0px #BFBFBF;
    -webkit-box-shadow: 0 0 3.0px #BFBFBF;
    box-shadow: 0 0 3.0px #BFBFBF;
}
.dxisControl .dxis-nbItem
{
    border-bottom: 1px solid #d1d1d1;
}
.dxisControl .dxis-nbSelectedItem,
.dxisControl .dxis-nbSelectedItem > div,
.dxisControl .dxis-nbHoverItem > div,
.dxisControl .dxis-nbItem:hover .dxis-nbHoverItem
{
    display: none!important;
}
.dxisControl .dxis-item,
.dxisControl .dxis-nbItem
{
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxisControl .blackPanel
{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=30);
    background-color: #000;
}
.dxisControl .video
{
    height: 371px;
    overflow: hidden;
    position: relative;
    margin: 17px 17px 0 17px;
}
.dxisControl .video > iframe,
.dxisControl .video > img
{
    display: block;
}
.dxisControl .text
{
    font-size: 18px;
    padding: 18px 0 0 18px;
}
.dxisControl .playButton,
.dxisControl .closeButton
{
    cursor: pointer;
    position: absolute;
    background-image: url(buttons.png);
}
.dxisControl .playButton:hover,
.dxisControl .closeButton:hover
{
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.dxisControl .playButton
{
    top: 50%;
    left: 50%;
    margin: -56px;
    width: 112px;
    height: 112px;
    -webkit-backface-visibility: hidden;
}
.dxisControl .closeButton
{
    top: 4px;
    right: 4px;
    width: 35px;
    height: 35px;
    background-position: 37px 0;
}
.dxisControl.dxTouchUI .closeButton
{
    top: auto;
    bottom: 16px;
    right: 17px;
}
.videoItemThumbnail
{
    width: 220px;
    color: white;
    font-size: 14px;
}
.dxisControl .product
{
    font-size: 14px;
}
.dxisControl .productText
{
    color: #ababab;
    font-size: 12px;
}
.dxisControl .videoLenght
{
    right: 0;
    bottom: 0;
    position: absolute;
    color: #ababab;
    font-size: 18px;
}
.dxisControl .dxis-nbItem:hover .product,
.dxisControl .dxis-nbItem:hover .productText
{
    color: #ef6f08;
}
.dxisControl .dxis-nbItem.dxis-selected .product,
.dxisControl .dxis-nbItem.dxis-selected .productText
{
    color: #ef6f08;
    font-weight: bold;
}
.dxisControl .dxis-nbSlidePanel:first-child
{
    border-top: 1px solid #d1d1d1;
}
.dxisControl .dxis-nbSlidePanel:first-child .product
{
    margin-top: 7px;
}